.main-container {
  background-color: #aec3b0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.container {
  height: 90%;
  width: 80%;
  margin: auto;
}

p {
  margin: 2%;
  color: #01161e;
}

.result {
  font-weight: bold;
}

h4 {
  margin: 2% 0;
}

hr {
  border: 1px solid #01161e;
  margin: 5% 4%;
  opacity: 50%;
}
